<div class="subcription-msg-container">
  <div class="subcription-msg-items">
    <p> {{ "If you don't have your keys get it Now!!"|t }}</p>
    <a class="btn btn-primary" href="https://www.srijan.net/">{{ "Get your key"|t }}</a>
  </div>

  <div class="subcription-msg-items">
    <p>{{ "If You Have Keys, Configure It."|t }}</p>
    <a class="btn btn-group-justified"
       href="{{ path('ezcontent_smart_article.config') }}">{{ "Configure Your key"|t }}</a>
  </div>
</div>
