{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
{{ attach_library("ezcontent_admin/page-title") }}
{% if logo_url %}
  <div class="page-title-grid">
    <div class="page-title">
      {% if title %}
        <h1{{ title_attributes.addClass('page-title') }}>{{ title_prefix }} {{ title }}</h1>
      {% endif %}
      {{ title_suffix }}
    </div>
    <div class="page-logo-with-title">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="admin-logo">
        <img src="{{ logo_url }}" alt="{{ 'Home'|t }}" />
      </a>
    </div>
  </div>
{% else %}
  {% if title %}
    <h1{{ title_attributes.addClass('page-title') }}>{{ title_prefix }} {{ title }}</h1>
  {% endif %}
  {{ title_suffix }}
{% endif %}
