<footer class="footer" role="contentinfo">
  <section class="footer--top">
    <div class=" {{ container }}">
      <div class="footer--logo col-sm-6 no-padding">
        <a class="logo navbar-btn pull-left" href="{{ url('<front>') }}" title="Home" rel="home">
          <img src="/{{ active_theme_path() }}/images/logo.svg" width="127" alt="Home">
        </a>
      </div>
      <div class="footer--social col-sm-6 no-padding text-right">
        <ul class="menu menu--copyright-menu nav">
          <li class="twitter social--list">
            <a href="#"> <img src="/{{ active_theme_path() }}/images/socialTwitter.svg"
                width="30px" alt="Twitter"></a>
          </li>
          <li class="linkedIn social--list">
            <a href="#"> <img src="/{{ active_theme_path() }}/images/socialLinkedin.svg"
                width="30px" alt="Linkedin"></a>
          </li>
          <li class="youtube social--list">
            <a href="#"> <img src="/{{ active_theme_path() }}/images/socialYoutube.svg"
                width="30px" alt="Youtube"></a>
          </li>
          <li class="facebook social--list">
            <a href="#"> <img src="/{{ active_theme_path() }}/images/socialFacebook.svg"
                width="30px" alt="Facebook"></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="footer--middle">
    <div class=" {{ container }}">
      <span class="footer--about col-sm-3 no-padding">
        <div class="footer--about--address">
          <p>{{ "Srijan Technologies"|t }}</p>
          <p>{{ "7E Vandana Building"|t }}</p>
          <p>{{ "Tolstoy Rd, Atul Grove Road,"|t }}</p>
          <p>{{ "Janpath, Connaught Place,"|t }}</p>
          <p>{{ "New Delhi, Delhi 110001"|t }}</p>
        </div>
      </span>
      <span class="footer--about--menu  col-sm-9 no-padding ">
        <span class="col-sm-3">
          <ul class="menu menu--copyright-menu nav">
            <li class="first">
              <a href="#">{{"About"|t }}</a>
            </li>
          </ul>
        </span>
        <span class="col-sm-3">
          <ul class="menu menu--copyright-menu nav">
            <li class="first">
              <a href="#">{{ "Career"|t }}</a>
            </li>
          </ul>
        </span>
        <span class="col-sm-3">
          <ul class="menu menu--copyright-menu nav">
            <li class="first">
              <a href="#">{{ "Contact us"|t }}</a>
            </li>
          </ul>
        </span>
        <span class="col-sm-3">
        </span>
      </span>
    </div>
  </section>
  <section class="footer--bottom">
    <div class=" {{ container }}">
      <span class="menu_footer_bottom col-sm-6 no-padding">
        <ul class="menu menu--copyright-menu nav">
          <li class="first">
            <a href="#">{{ "Privacy Policy"|t }} | </a>
          </li>
          <li>
            <a href="#">{{ "Terms of Service"|t }} | </a>
          </li>
          <li class="last">
            <a href="#">{{ "Copyright"|t }}</a>
          </li>
        </ul>
      </span>
      <span class="footer_copyright  col-sm-6 no-padding text-right">
        <span>© {{ "2019 ezcontent Ltd. All rights reserved."|t }}</span>
      </span>
    </div>
  </section>
</footer>
